
<h1>Bill Gates Quotes</h1>
<img [src]="imageSrc" alt="Bill Gates Portrait">
<ul>
  <li *ngFor="let quote of quotes">{{ quote }}</li>
</ul>
<p>For more information about Bill Gates, you can visit the following resources:</p>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">Wikipedia - Bill Gates</a></li>
  <li><a href="https://www.gatesfoundation.org/" target="_blank">Bill & Melinda Gates Foundation</a></li>
  <li><a href="https://www.gatesnotes.com/" target="_blank">Gates Notes</a></li>
  <li><a href="https://twitter.com/billgates" target="_blank">Bill Gates on Twitter</a></li>
</ul>